<?xml version="1.0"?>
<phpunit
    bootstrap="Test/bootstrap.php"
>
    <php>
        <const name="SFDC_USERNAME" value="tester@test.int" />
        <const name="SFDC_PASSWORD" value="test2testqohOJlP8zwE6OsUyhLqcYI2sT" />
        <const name="SFDC_SERVICE_LOCATION" value="" />
    </php>
    <testsuites>
        <testsuite name="Soap_Client">
            <directory>Test/Soap/Client</directory>
        </testsuite>
        <testsuite name="Soap_Mapping">
            <directory>Test/Soap/Mapping</directory>
        </testsuite>
        <testsuite name="Soql_Builder">
            <directory>Test/Soql/Builder</directory>
        </testsuite>
        <testsuite name="Soql_Query_Parser">
            <directory>Test/Soql/Parser</directory>
        </testsuite>
        <testsuite name="Soql_Query_Renderer">
            <directory>Test/Soql/Renderer</directory>
        </testsuite>
    </testsuites>
</phpunit>