<?xml version="1.0"?>
<phpunit
    bootstrap="Test/bootstrap.php"
>
    <php>
        <const name="SFDC_USERNAME" value="tester@test.int" />
        <const name="SFDC_PASSWORD" value="test1test4QYGdSTgYhsZqmU2oeNtDwKt" />
        <const name="SFDC_SERVICE_LOCATION" value="" />
    </php>
    <testsuites>
        <testsuite name="Soap_Client">
            <directory>Test/Soap/Client</directory>
        </testsuite>
    </testsuites>
</phpunit>